
h1 {
    color: #0025FF;
}
h2 {
    text-align: center;
    color:pink;
    font-size: 52px;
}
h3 {
    background-color:pink;
    text-align: center;
    color: black;
    font-size; 10px;

}
h4 {
    text-align: center;
    color: green;
    font-size; 8px;
}
